@import 'tailwindcss';
@import '@nuxt/ui';
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Geist', sans-serif;
}

html {
    @apply scroll-smooth;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s infinite;
}
